<html>


<title>
ShookSook - The Old City Online Marketplace 
</title>

<head>
<link rel="stylesheet" type="text/css" href= "{{ STATIC_URL }}css/project.css">
<link rel="stylesheet" type="text/css" href= "{{ STATIC_URL }}css/buttons.css">
</head>



<body>

<div id = "logoPic"  >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>

<div id = "para" class= "card">

<h1 > About </h1>

<p><b> We, ShookSook are a website that helps shopkeepers, customers and tourists go around the Old City of Jerusalem and explore its stores. We combine all of the popular and remarkable places in the Old City in one easy to use and simple website. </b></p>

<p><b>ShookSook allows shopkeepers to sign up and add their businesses online on the website which gives them the opportunity to be exposed to a bigger scale of customers. Tourists can discover the Old City and get their desired destination without facing any problems. In addition to that customers can check out the stores in the Old City and what they sell. </b></p>

</div>

</body>

</html>


