<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
</head>

<title>
ShookSook - The Old City Online Marketplace 
</title>

<body>

<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
<br>
</a>
<br />
<div id="contact" class = "card" ><h1><b> Contact us</b></h1> </div>
<br />
<div><p><b> Are you intrested in knowing more about our website? Do you want more information about submiting your businesses</div> </b></p>

<div><p><b>  If yes contact us with the following addresses</b></p><br /></div>
<div> Phone Number:+972-564782072</div><br />
<div> Fax Number:+972-6436785</div><br />
<div>E-mail:shooksook@meet.mit.edu  </div><br />
<div>Address: 23 Givat Ram st , The Hebrew University of Jerusalem , Jerusalem </div><br /></b></p>

</body>

</html>

