<!DOCTYPE html>
 
<html>

<head>

<title> ShookSook - The Old City Online Marketplace </title>

<meta name = "kewords" content = "Market, Stores, Buy, Information">

<meta name = "description" content = "The Online Marketplace of the Old City">

<meta name = "author" content = "MEET Y2">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">

</head>

<body>

<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "480" height = "320">
</div>

<div>
<a href="stores"><div class = "buttons">Stores</div></a>

<a href="restaurants"><div class = "buttons">Restaurants</div></a>

<a href="maps"><div class = "buttons">Map</div></a>

<a href="introduction"><div class = "buttons">Introduction</div></a>

<a href="media"><div class = "buttons">Photos & Videos</div></a>
</div>

<table border=5>
<tr>
<td> <a href="submit"> Sumbit Your Business</a> </td>
<td> <a href="about"> About US </a></td> 
<td> <a href="contact"> Contact Us </a></td>
</tr> 
</table>


</body>

</html>
