<!DOCTYPE html>
 
<html>

<head>

<title> ShookSook - The Old City Online Marketplace </title>

<meta name = "kewords" content = "Market, Stores, Buy, Information">

<meta name = "description" content = "The Online Marketplace of the Old City">

<meta name = "author" content = "MEET Y2">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">

</head>

<body>

<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo.png" alt = "ShookSook Logo" width = "320" height = "172">
</div>

<a href="buttons"><span class = "buttons">Stores</span></a>

<a href="restaurants"><span class = "buttons">Restaurants</span></a>

<a href="map"><span class = "buttons">Map</span></a>

<a href="introduction"><span class = "buttons">Introduction</span></a>

<a href="media"><span class = "buttons">Photos & Videos</span></a>

</body>

</html>
