<html>
<head>
	<title> ShookSook - The Old City Online Marketplace </title>
	<meta name = "kewords" content = "Market, Stores, Buy, Information">
	<meta name = "description" content = "The Online Marketplace of the Old City">
	<meta name = "author" content = "MEET Y2">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
</head>
<body>
<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "350" height = "233">

<div >
<p>
The Old City of Jerusalem is one of the beautiful places in the hole world it includes the three monotheistic religions in this place  also it separated into four quarters The Old City Gates , The Jewish Quarter , The Christian Quarter and The Muslim Quarter. It is a place were everyone should explore it when visiting Jerusalem .   
</p>
</div>
<div id = "end4">
<a href="submit"><div class="buttonsEnd">Submit Your Business</div></a>
<a href="about"><div class="buttonsEnd">About</div></a>
<a href="contact"><div class="buttonsEnd">Contact Us</div></a>
</div>
</body>
</html>
