<html>
<head>
	<title> ShookSook - The Old City Online Marketplace </title>
	<meta name = "kewords" content = "Market, Stores, Buy, Information">
	<meta name = "description" content = "The Online Marketplace of the Old City">
	<meta name = "author" content = "MEET Y2">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
</head>
<body>
<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "350" height = "233">

</body>
</html>
