<html>
<head>
	<title> ShookSook - The Old City Online Marketplace </title>
	<meta name = "keywords" content = "Market, Stores, Buy, Information">
	<meta name = "description" content = "The Online Marketplace of the Old City">
	<meta name = "author" content = "MEET Y2">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/introductio.css">
</head>





<body>



<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>

<!--<br>
<p></p>
<div id="intro" class = "card">
<b>Introduction</b>
<br>

<p>
The Old City of Jerusalem is one of the beautiful places in the whole world. It includes the three monotheistic religions within it, separated into four quarters: The Old City Gates, The Jewish Quarter, The Christian Quarter and The Muslim Quarter. It is a place everyone should explore when visiting Jerusalem.   
</p>
</div> -->



<div id="sheet">
<ul id="movieposters">
   <li>
      <span class="oldcity"><img src="{{ STATIC_URL }}images/9.jpeg" width="400" height="450" alt="7" /></span>
      <div class="movieinfo">
         <h3>The Old City</h3>
         <p>The Old City of Jerusalem is one of the beautiful places in the entire world. Within it, you can find sites holy for the three monotheistic religions. It is a place everyone should explore when visiting Jerusalem.</p>
        <a href="https://en.wikipedia.org/wiki/Old_City_%28Jerusalem%29" title="Iron Man 2">More info</a>
      </div>
   </li>
   <!-- More movie posters here -->
<li style="margin-left:20%;">
       <span class="oldcity"><img src="{{ STATIC_URL }}images/8.jpg" width="400" height="450"" alt="7" /></sapn>
      <div class="movieinfo">
         <h3>Tourist Info</h3>
         <p>Jerusalem and the Old City are characterized by excellent hotels. Every visit requires a stay in one. Find more information for hotels below:</p>
         <a href="http://www.booking.com/city/il/jerusalem.en.html?aid=318615;label=New_English_EN_ROW_City-DJ_INWBMaF8uz12boc573QS25582899745:pl:ta:p1:p2:ac:ap1t3:neg:kw_inurl:en.html%23inurl:booking.com/city:ws=&gclid=CNiUk-67lbgCFUJc3godDg0AKQ" title="Iron Man 2">More info</a>
      </div>
   </li>
</ul>
</div>

<div id = "end4">
<a href="submitBusiness"><div class="buttonsEnd">Submit Your Business</div></a>
<a href="about"><div class="buttonsEnd">About</div></a>
<a href="contact"><div class="buttonsEnd">Contact Us</div></a>
<a href="log_me_out"><div class="buttonsEnd">Logout</div></a>
</div>
</body>
</html>
