<html>
<head>
	<title> ShookSook - The Old City Online Marketplace </title>
	<meta name = "kewords" content = "Market, Stores, Buy, Information">
	<meta name = "description" content = "The Online Marketplace of the Old City">
	<meta name = "author" content = "MEET Y2">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
</head>
<body>
<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "350" height = "233">
</div>
<div id=googlemap>
<iframe width="600" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=The+Old+City,+Jerusalem&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=42.089199,50.800781&amp;oq=the+old+city+jeru&amp;hnear=The+Old+City,+Jerusalem&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=31.777577,35.232468&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=The+Old+City,+Jerusalem&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=42.089199,50.800781&amp;oq=the+old+city+jeru&amp;hnear=The+Old+City,+Jerusalem&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=31.777577,35.232468&amp;source=embed" style="color:#0000FF;text-align:left"><div class=buttons>View Larger Map</div></a></small>

</div>
</body>
</html>
