<html>
<head>
	<title> ShookSook - The Old City Online Marketplace </title>
	<meta name = "kewords" content = "Market, Stores, Buy, Information">
	<meta name = "description" content = "The Online Marketplace of the Old City">
	<meta name = "author" content = "MEET Y2">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/photo.css">
</head>
<body>
<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>

<div id=youtube>
<iframe width="640" height="360" src="http://www.youtube.com/embed/cuq3HyTvFeo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>

<div class="photos">
    <img src="{{ STATIC_URL }}images/1.jpeg" />
    <img src="{{ STATIC_URL }}images/3.jpeg" />
    <img src="{{ STATIC_URL }}images/4.jpeg" />
    <img src="{{ STATIC_URL }}images/5.jpeg" />
    <img src="{{ STATIC_URL }}images/2.jpeg" />
</div>

<div id = "end2">
<a href="submitBusiness"><div class="buttonsEnd">Submit Your Business</div></a>
<a href="about"><div class="buttonsEnd">About</div></a>
<a href="contact"><div class="buttonsEnd">Contact Us</div></a>
<a href="log_me_out"><div class="buttonsEnd">Logout</div></a>
</div>

</body>
</html>
