<html>

<head>

<title> ShookSook - The Old City Online Marketplace: Stores </title>

<head>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">

</head>

<body>
<div id = "logoPic" >
	<img src = "{{ STATIC_URL }}images/logo.png" alt = "ShookSook Logo" width = "320" height = "172">
</div>

<div id="containr" style="width:500px">
<div id="header" style="background-color:#FFA500;">
<h1 style="margun-bottom:0;">shooksook</h1></div>

<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
<b>menu</br><br>HTML<br>CSS</br><br>javascript</br>

<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">content goes here</div>

<div id="footer" style="background-color:FFA500;clear:both;text-align:center;">gfh</div>
</div>

{% if Store %}
 <ul>
	{% for x in Store %}
		<li>
			{{x.name }} is a store		
		</li>
	{% endfor %}
</ul>
{% else %}
	No stores!
{% endif %}

</body>

</html>
