<html>

<head>

<title> ShookSook - The Old City Online Marketplace: Stores </title>

</head>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">

</head>

<body>

<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>

<div class="menu">

{% if stores %}
	{% for x in stores %}
		<div class ="card">
		
		<div class ="storeInfo storeTitle">{{x.name}}</div>
		<div class ="storeInfo">{{x.storeType}}</div>
		<div class ="storeInfo">Address: {{x.address}}</div>
		<div class ="storeInfo">Info: {{x.info}}</div>	
	
		</div>		
		<br>
	{% endfor %}
{% else %}
	No stores!
{% endif %}

</div>



</body>

</html>
