<html>

<head>

<title> ShookSook - The Old City Online Marketplace: Stores </title>

</head>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">

</head>

<body>

<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>


<div id = "submit_form">


	<form action="submitBusiness_accepted" method="post">
	{% csrf_token %}
	<table>
		<b>
	<tr><td class ="i">Store Name</td><td><input type="text" name="name"/></td></tr>
	<tr><td class ="i">Store Type (Food, Clothing, Etc.)</td><td><input type="text" name="storeType"/></td></tr>
	<tr><td class ="i">Address</td><td> <input type="text" name="address"/></td></tr>
	<tr><td class ="i">Info:</td></tr>
		</table>
	<textarea id = "info_area" cols = "40" rows = "5" name = "info">Write your info here!</textarea>
	<br>
	<tr><td><input id = "submitButton" type="submit" value="Submit Your Business" /></tr></td>

	</b>	
	</form>


</div>

</body>

</html>

