<html>

<head>

<title> ShookSook - The Old City Online Marketplace: Stores </title>

</head>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css">

</head>

<body>

<div id = "logoPic" >
	<a href = "home"><img src = "{{ STATIC_URL }}images/logo3.png" alt = "ShookSook Logo" width = "320" height = "233">
</a></div>

<div class = "card">
You have Successfully added a business! Click our logo to go back and view it :)
</div>

</body>

</html>
