 
#movieposters
   { list-style:none; margin:100px 0; height:550px; }
 
#movieposters li
   { display:inline; float:left;
   -webkit-perspective: 500; -webkit-transform-style: preserve-3d;
   -webkit-transition-property: perspective; -webkit-transition-duration: 0.5s; }
   
#movieposters li:hover
   { -webkit-perspective: 5000; }
 

#movieposters li:hover img
   { -webkit-transform: rotateY(0deg); }
 

.movieinfo { border:10px solid #fcfafa; padding:20px; width:250px; height:300px; background-color:#deddcd; margin:-195px 0 0 40px; position:absolute;
   -moz-box-shadow:0 20px 50px #888; -webkit-box-shadow:0 20px 40px #888;
   -webkit-transform: translateZ(40px) rotateY(30deg);
   -webkit-transition-property: transform, box-shadow, margin; -webkit-transition-duration: 0.5s; }
 
/* Animate everything to their 2d state when hovering the parent.
#movieposters li:hover .movieinfo
   { -webkit-transform: rotateY(0deg); -webkit-box-shadow:0 5px 10px #888; margin:-175px 0 0 30px; } */
 
/* Some basic CSS for the movie info */
.movieinfo h3 { color:#7a3f3a; font-variant: small-caps; font-family:Georgia,serif,Times; text-align:center; padding-bottom:15px; }
.movieinfo p { padding-bottom:15px; }
.movieinfo a { background-color:#7a3f3a; padding:5px 10px; color:#eee; text-decoration:none; display:block; width:80px; text-align:center; margin:0 auto;
   -moz-border-radius:5px; -webkit-border-radius:5px; }
.movieinfo a:hover, .movieinfo a:focus { background-color:#6a191f; color:#fff; }
